.new-game-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    line-height: 1.42857143;
    border-radius: 4px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

@media (max-width: 991px) {
    .stat-info {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        font-size: 24px;
        margin-right: 18px;
        border-radius: 24px;
        position: relative;
        margin-bottom: 8px;
    
        .item {
            display: flex;
            align-items: center;
            color: white;
            
            h3 {
                font-size: 12px;
            }
    
            .title {
                margin-right: 12px;
            }

            img {
                margin-right: 12px;
                width: 24px;
                height: 24px;
            }
        }
    
        button {
            font-size: 16px;
            width: fit-content;
            position: absolute;
            right: 0;
            top: 5px;
        }
    }
}

@media (min-width: 992px) {
    .stat-info {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        font-size: 24px;
        padding: 24px;
        margin-right: 18px;
        border-radius: 24px;
    
        .item {
            display: flex;
            align-items: center;
            color: white;
            
            .space {
                flex: 1
            }

            img {
                margin-right: 12px;
                width: 48px;
                height: 48px;
            }
        }
    
        button {
            font-size: 28px;
        }
    }
}